## Capstone Project
### Subject: US Economic Indicator
### Author: Ja`Mone Bridges
### Notebook Purpose: EDA and Cleaning Dataset and Storing

In [12]:
import os
import pandas as pd
import numpy as np
import math

# Plotting
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objs as go
import matplotlib.pyplot as plt
# import seaborn as sns

# SQL database
from sqlalchemy import create_engine
import re

In [2]:
# Function to test if a string is a number
def is_float(string):
    try:
        test_float = float(string)
        if math.isnan(test_float) == True:
            return False
        return True
    except ValueError:
        return False

# Function to test if a string in a integer
def is_int(string):
    try:
        int(string)
        return True
    except ValueError:
        return False

# Function to get all the files in a directory and put them into a list
def file_list(dir_path, extension=".csv"):
    files = []
    # Iterate directory
    for file_path in os.listdir(dir_path):
        # check if current file_path is a file
        if os.path.isfile(os.path.join(dir_path, file_path)) and \
            file_path[-4:] == extension:
            # add filename to list
            files.append(dir_path + "/" + file_path)
    return files

In [3]:
# directory/folder path
national_debt_path = r'data/National_Household_Assets'

# list to store files
files = file_list(national_debt_path)

In [4]:
asset_df = pd.read_csv(files[0], header = 0)
asset_df.head()

,date,Net_Worth_In_Millions,Net_Worth/DPI,Total_Assets_In_Millions,Total_Assets/DPI,Total_Liabilities_In_Millions,Total_Liabilities/DPI,Nonfinancial_Assets_In_Millions,Nonfinancial_Assets/DPI,Financial_Assets_In_Millions,...,16270015,80.12,9118368,44.90,-1311712,-1690272,-69063,469002,-21379,20308194
0,2023:Q2,152300438,755.30,172427752,855.12,20127314,99.82,58347546,289.36,114080206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023:Q1,146639645,737.62,166598374,838.01,19958729,100.39,55657297,279.96,110941077,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022:Q4,143655328,749.05,163579607,852.94,19924279,103.89,55649267,290.17,107930340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022:Q3,142823794,756.41,162526658,860.76,19702864,104.35,56536276,299.42,105990382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022:Q2,146312369,790.80,165688078,895.52,19375709,104.72,57602077,311.33,108086001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
net_df = asset_df.iloc[:,0:5].copy()
net_df.head()

,date,Net_Worth_In_Millions,Net_Worth/DPI,Total_Assets_In_Millions,Total_Assets/DPI
0,2023:Q2,152300438,755.30,172427752,855.12
1,2023:Q1,146639645,737.62,166598374,838.01
2,2022:Q4,143655328,749.05,163579607,852.94
3,2022:Q3,142823794,756.41,162526658,860.76
4,2022:Q2,146312369,790.80,165688078,895.52

In [6]:
#net_df['date'] = pd.to_datetime(net_df['date'])
net_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      286 non-null    object
 1   Net_Worth_In_Millions     286 non-null    int64
 2   Net_Worth/DPI             286 non-null    float64
 3   Total_Assets_In_Millions  286 non-null    int64
 4   Total_Assets/DPI          286 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 11.3+ KB

In [7]:
net_df[['date', 'quarter']] = net_df['date'].str.extract('(\w+):(\w+)', expand=True)
net_df.head()

,date,Net_Worth_In_Millions,Net_Worth/DPI,Total_Assets_In_Millions,Total_Assets/DPI,quarter
0,2023,152300438,755.30,172427752,855.12,Q2
1,2023,146639645,737.62,166598374,838.01,Q1
2,2022,143655328,749.05,163579607,852.94,Q4
3,2022,142823794,756.41,162526658,860.76,Q3
4,2022,146312369,790.80,165688078,895.52,Q2

In [8]:
# net_df['datetime'] = net_df['quarter'].apply(lambda x: "3-31-" + net_df['date'] x if x == 'Q1' else x, axis=1)
net_df['datetime'] = "12-01-2023"
net_df['datetime'] = pd.to_datetime(net_df['datetime'])
for i in range(0, net_df.shape[0], 1):
    if net_df.iloc[i,-2] == 'Q1':
        net_df.iloc[i,-1] = "3-31-" + net_df.iloc[i,0]
    elif net_df.iloc[i,-2] == 'Q2':
        net_df.iloc[i,-1] = "6-30-" + net_df.iloc[i,0]
    elif net_df.iloc[i,-2] == 'Q3':
        net_df.iloc[i,-1] = "9-30-" + net_df.iloc[i,0] 
    else:
        net_df.iloc[i,-1] = "12-3-" + net_df.iloc[i,0] 

net_df.head()

,date,Net_Worth_In_Millions,Net_Worth/DPI,Total_Assets_In_Millions,Total_Assets/DPI,quarter,datetime
0,2023,152300438,755.30,172427752,855.12,Q2,2023-06-30
1,2023,146639645,737.62,166598374,838.01,Q1,2023-03-31
2,2022,143655328,749.05,163579607,852.94,Q4,2022-12-03
3,2022,142823794,756.41,162526658,860.76,Q3,2022-09-30
4,2022,146312369,790.80,165688078,895.52,Q2,2022-06-30

In [9]:
net_df = net_df.drop(columns='date')
net_df.head()

,Net_Worth_In_Millions,Net_Worth/DPI,Total_Assets_In_Millions,Total_Assets/DPI,quarter,datetime
0,152300438,755.30,172427752,855.12,Q2,2023-06-30
1,146639645,737.62,166598374,838.01,Q1,2023-03-31
2,143655328,749.05,163579607,852.94,Q4,2022-12-03
3,142823794,756.41,162526658,860.76,Q3,2022-09-30
4,146312369,790.80,165688078,895.52,Q2,2022-06-30

In [10]:
# Plot lines
plot = px.line(net_df, x=net_df['datetime'], y=['Net_Worth/DPI', 'Total_Assets/DPI'])

# Labels for plot
plot.update_layout(
    yaxis_title = 'Ratio',
    legend_title = 'Asset Type',
    title = 'Household Assets and Net Worth / DPI Ratios'
)
# Enable slider
plot.update_xaxes(rangeslider_visible = True)

plot.show()

Household Assets and Net Worth / Disposable Personal Income reflects all of the recession that have occurred since it started being tracked. Because it is a ratio and does not need to be adjusted for inflation. This also shows a increase during the housing bubble and a decrease when the housing market collapsed. Notice how it heads downward 6 month before the actual housing crisis began.

In [11]:
# Engine required to read or store data in a mysql database.
db_engine = create_engine(
    "mysql://{user}:{pw}@localhost/{db}"
    .format(user="root",
    pw="rootroot",
    db="capstone"))

# Store each dataframe in the data base capstone with the table name listed in the call.
net_df.to_sql(con=db_engine, name='household_assets', if_exists='replace', index=False)

286